<mat-toolbar color="primary" class="app-toolbar">
  <mat-toolbar-row>
    <!-- Logo / Brand -->
    <span class="app-title">
      <a routerLink="/festival-list" class="brand-link">
        🎮 Festival de Jeux
      </a>
    </span>
    
    <span class="spacer"></span>
    
    <!-- Navigation publique (tous) -->
    <button mat-raised-button color="accent" class="nav-button">
      <a routerLink="/festival-list" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
       🎪 Festivals
      </a>
    </button>

    <button mat-raised-button color="accent" class="nav-button">
      <a routerLink="/games" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        🎮 Jeux
      </a>
    </button>

    <button mat-raised-button color="accent" class="nav-button">
      <a routerLink="/publishers" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
         🏢 Éditeurs de Jeux
      </a>
    </button>

  @if (loggedIn() && (isAdmin())){
    <button mat-raised-button color="accent" class="nav-button">
      <a routerLink="/reservations" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
         📋 Réservations
      </a>
    </button>
  }

    <!-- Bouton Admin (si admin connecté) -->
    @if (loggedIn() && isAdmin() || isSuperOrganisator()) {
      <button mat-raised-button color="accent" class="nav-button">
        <a routerLink="/admin" routerLinkActive="active">
          ⚙️ Admin
        </a>
      </button>
    }

    <!-- Section authentification -->
    @if (loggedIn()) {
      <span class="user-role">{{ currentUser()?.role }}</span>
      <button mat-raised-button color="warn" (click)="LoggedOut()" class="nav-button">
        Déconnexion
      </button>
    } @else {
      <button mat-raised-button color="accent" class="nav-button">
        <a routerLink="/login" routerLinkActive="active">
          Connexion
        </a>
      </button>
      <!-- <button mat-raised-button color="accent" class="nav-button">
        <a routerLink="/register" routerLinkActive="active">
          Register
        </a>
      </button> -->
    }
  </mat-toolbar-row>
</mat-toolbar>

<main class="main-content">
  <router-outlet />
</main>
