<div class="login-container">
    <!-- Message de chargement -->
    <div class="loading-message">
        @if(isLoading()){
            <div class="spinner"></div>
            ⏳ Trying to Connect, Please wait...
        }
    </div>

    <!-- Message d'erreur -->
    <div class="error-message global-error">
        @if (error() && !isLoading()) {
            ❌ {{ error() }}
        }
    </div>

    <!-- Message de succès -->
    <div class="success-message">
        @if (LoggedIn()) {
           ✅ Connected successfully ! Redirecting to dashboard 
        }
    </div>

    <!-- Formulaire -->
    @if (!isLoading() && !LoggedIn()) {
        <form [formGroup]="form" (ngSubmit)="OnSubmit($event)" class="login-form">
            <h2>Connection</h2>

            <!-- Champ Login -->
            <div class="form-group">
                <input 
                    type="text" 
                    formControlName="email"
                    placeholder="Email"
                    [class.error]="form.controls.email.invalid && form.controls.email.touched"
                    required
                />
                @if(form.controls.email.invalid && form.controls.email.touched) {
                    <div class="error-message">
                        @if (form.controls.email.errors?.['required']) {
                            Valid Username is required
                        }
                    </div>
                }
            </div>

            <!-- Champ Password -->
            <div class="form-group">
                <input 
                    type="password" 
                    formControlName="password"
                    placeholder="Password"
                    [class.error]="form.controls.password.invalid && form.controls.password.touched"
                    required
                />
                @if(form.controls.password.invalid && form.controls.password.touched) {
                    <div class="error-message">
                        @if (form.controls.password.errors?.['required']) {
                            Password is required
                        }
                    </div>
                }
            </div>

            <!-- Bouton Submit -->
            <button type="submit" class="btn-primary" [disabled]="form.invalid">
                Connect
            </button>

            <!-- register link -->
            <div class="form-footer">
                <p>Don't have an Account ? Create one now <a href="/register" class="register-link">Sign Up</a></p>
            </div>
        </form>
    }
</div>
