<div class="game-list-container">
    <!-- Header Section -->
    <div class="header-section">
        <!-- Title is handled by CSS ::before -->
    </div>

    @if (gls.isLoading()) {
        <p style="color: white; text-align: center;">Chargement des jeux...</p>
    }

    @if (gls.error()) {
        <p style="color: red; text-align: center;">Erreur : {{ gls.error() }}</p>
    }

    <div class="button-container">
        <button (click)="toggleForm()" class="action-btn" [class.add-btn]="!showForm()" [class.cancel-btn]="showForm()">
            @if (showForm()) { Cancel } @else { Add Game }
        </button>
    </div>

    <!-- Form Section -->
    @if (showForm()){
        <div class="form-section">
            <app-game-form 
                [editingGame]="selectedGame()"
                [publishers]="publishers()"
                (newGame)="onNewGame($event)"
                (updateGame)="onUpdateGame($event)">
            </app-game-form>
        </div>
    }

    <!-- Games Cards Grid -->
    <div class="games-grid">
        @for (game of games(); track game.id) {
            <app-game-card
                (card)="goToGame(game.id)"
                [isSelected]="selectedId() === game.id"
                (edit) ="selectedId() == game.id && showForm() ? toggleForm() : onEdit(game.id)"
                [game] = "game"
                (remove)="onDelete($event)">
            </app-game-card>
        }
    </div>
</div>

